/.bsp/
/.idea/

# sbt loves these
/target/
/backend/target/
/project/target/
/project/project/target/
/commons/target/
/frontend/api/target/
/frontend/webui/target/

*.class
*.log
/frontend/fcommons/target/
